.DS_Store
/dependencies/repo
/dist
/local
/gh-pages
/ideaSDK
/clionSDK
/android-studio/sdk
/out/
/tmp
/intellij
workspace.xml
*.versionsBackup
.gradle/
build/
!**/src/**/build
!**/test/**/build
*.iml
!**/testData/**/*.iml
.idea/
.rpt2_cache/
libraries/tools/kotlin-test-js-runner/lib/
local.properties
buildSrcTmp/
distTmp/
outTmp/
/test.output
/kotlin-native/dist
kotlin-ide/
.kotlin/
/**/out/
/**/build/